* {
  outline: none;
  padding: 1px;
  margin-bottom: 8px;
  margin-left: 5px;
}

body {
  background-color: rgb(13, 17, 23);
  color: rgb(216, 216, 201);
  padding: 5px;
}

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  background-color: rgb(13, 17, 23);
  color: rgb(216, 216, 201);
  padding: 5px;
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="date"],
input[type="time"],
textarea,
select,
.password-input {
  background-color: rgb(1, 4, 9);
  color: rgb(151, 211, 255);
  border: 1px solid rgb(45, 49, 57);
  border-radius: 6px;
  min-width: 100px;
  min-height: 24px;
  padding: 5px;
}

input[type="text"]:focus,
textarea:focus,
select:focus,
.password-input:focus {
  border-color: rgba(0, 100, 139, 0.883);
}

button,
input[type="submit"] {
  background-color: rgba(180, 118, 65, 0.879);
  color: rgba(54, 25, 0, 0.879);
  border: 1px solid rgb(45, 49, 57);
  border-radius: 8px;
  min-width: 100px;
  min-height: 31px;
  outline: none;
}

button:hover,
input[type="submit"]:hover {
  background-color: rgba(0, 100, 139, 0.883);
  color: rgb(13, 17, 23);
}

button:active,
input[type="submit"]:active {
  background-color: rgb(216, 216, 201);
  color: rgb(13, 17, 23);
}

table {
  background-color: rgb(13, 17, 23);
  color: rgb(216, 216, 201);
  border: 1px solid rgb(45, 49, 57);
  border-radius: 8px;
  padding: 8px;
}

thead th {
  border-bottom: 1px solid rgb(45, 49, 57);
  color: rgba(78, 205, 255, 0.883);
}

table tr.selected {
  background-color: rgba(4, 4, 4, 0.805);
  color: rgba(78, 205, 255, 0.883);
}

/* input[type="checkbox"],
input[type="radio"] {
  color: rgb(216, 216, 201);
}

input[type="checkbox"]::before,
input[type="radio"]::before {
  background-color: rgb(13, 17, 23);
  border: 1px solid rgb(216, 216, 201);
  border-radius: 3px;
}

input[type="checkbox"]:checked::before,
input[type="radio"]:checked::before {
  background-color: rgba(0, 100, 139, 0.883);
  border-color: rgba(0, 100, 139, 0.883);
} */

/* Estilos para checkboxes e botões de rádio */
input[type="checkbox"],
input[type="radio"] {
  position: absolute;
  opacity: 0;
  z-index: -1;
}

/* Estilos para os rótulos */
input[type="checkbox"] + label,
input[type="radio"] + label {
  position: relative;
  padding-left: 25px;
  cursor: pointer;
  display: inline-block;
  color: rgb(216, 216, 201);
}

/* Estilos para a marcação dentro do checkbox e do botão de rádio */
input[type="checkbox"] + label::before,
input[type="radio"] + label::before,
input[type="checkbox"] + label::after,
input[type="radio"] + label::after {
  content: "";
  position: absolute;
  left: 0;
  top: 50%; /* Centraliza verticalmente */
  transform: translateY(-50%);
}

/* Estilos para a marcação dentro do checkbox */
input[type="checkbox"] + label::before {
  width: 16px;
  height: 16px;
  background-color: rgb(13, 17, 23);
  border: 1px solid rgb(216, 216, 201);
  border-radius: 3px;
}

/* Estilos para a marcação dentro do botão de rádio */
input[type="radio"] + label::before {
  width: 16px;
  height: 16px;
  background-color: rgb(13, 17, 23);
  border: 1px solid rgb(216, 216, 201);
  border-radius: 50%;
}

/* Estilos para a marcação dentro do checkbox quando está marcado */
input[type="checkbox"]:checked + label::before {
  background-color: rgba(0, 100, 139, 0.883);
  border-color: rgba(0, 100, 139, 0.883);
}

/* Estilos para a marcação dentro do checkbox após ser marcado */
input[type="checkbox"]:checked + label::after {
  width: 8px;
  height: 8px;
  background: white;
  left: 5px;
}

/* Estilos para a marcação dentro do botão de rádio quando está marcado */
input[type="radio"]:checked + label::before {
  background-color: rgba(0, 100, 139, 0.883);
  border-color: rgba(0, 100, 139, 0.883);
}

/* Estilos para a marcação dentro do botão de rádio após ser marcado */
input[type="radio"]:checked + label::after {
  width: 8px;
  height: 8px;
  background: white;
  border-radius: 50%;
  left: 5px;
}

nav {
  padding: 30px;
}

a {
  font-weight: bold;
  color: rgba(214, 237, 8, 0.883);
  text-decoration: none;
}

a.router-link-exact-active {
  color: rgba(0, 100, 139, 0.883);
}
